<DOCTYPE! html>
<html lang="en">
<head>
<title>NEWS TROOP</title>
<meta charset="utf-8">
<link rel="apple-touch-icon" sizes="57x57" href="../apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
<link rel="manifest" href="../manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="../article.css">
</head>
<body>
<div class="navbar">
  <a href="../index.html"><img src="../images/nav logo NEWSTROOP.png" height="80px" ></a>
</div>
<div class="navbartwit">
  <a href="https://twitter.com/NewsTroop"><img src="../images/twitter.png" height="80px" ></a>
</div>
<nav>
 
</nav>
<div id="wrap"> <!-- current article # in note this at line 35 (thats this note) and also at line 37 -->
<img id="thumb" src="../images/articles/

.png">
<div id="related">
<b>Related</b>
<p> <!-- related article #s at lines 41, 48, 55; article titles at lines 43, 50, 57 -->
	<a href="
g21
	.html">• 
GAME REVIEW: "BOXMAN'S STRUGGLE" IS THE MODERN DARK SOULS OF GAMING
	<a>
	<br>
	<br>
	<a href="
g15
	.html">• 
MAN BREAKS INTO TWITTER HQ, CRUSHES HARDDRIVE IN HIS FIST
	<a>
	<br>
	<br>
	<a href="
g1
	.html">• 
NEWS TROOP UPDATE 10/16
	<a>
</p>
</div>
<main>
<header>
<h1> <!-- headline copies first sentence from article to line 66 -->

</h1>
<br>
</header>
<div id="date"> <!-- copy name at line 71, date at line 73 -->

 • 

</div>
<div> <!-- article body here at line 74 -->

</div>
</main>
</div>
<footer>
	<a href="../index.html">Home</a>
	• 
	<a href="../privacy.html">Privacy Policy</a>
	•  
	<a href="../about.html">About Us</a>
	• 
	<a href="../contact.html">Contact</a>
	• 
	<a href="../staff.html">Staff Page</a>
</footer>
</body>
</html>