@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {font-family: 'Open Sans', sans-serif;
color: 1f1f1f;
background-color: e0e0e0;
margin: 0;
font-size: 19px;
}

div {line-height: 27px;
font-size: 19px;
}

header {font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
text-transform: uppercase;
font-size: 17px;
}

footer {font-family: 'Oswald', sans-serif;
text-align: center;
background-color: 1f1f1f;
font-size: 25px;
bottom: 0;
left: 0;
width: 100%;
position: fixed;
border-top: solid;
border-top-color: ff5757;
border-top-width: 0.5em;
padding-top: 12px;
padding-bottom: 20px;
}

footer a {color: FFFFFF; 
}

footer a:hover {color: ff5757; 
}

main {margin: auto;
display: flex;
flex-direction: column;
}

nav {height: 5.6em}


#card {margin: auto;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
grid-column-gap: 2%;
grid-row-gap: 0;
border-bottom: solid;
border-bottom-color: ff5757;
border-bottom-width: 0.5em;
box-shadow: -5px 7px #888888;
background-color: FFFFFF;
width: 100%;
margin-bottom: 60px;
}

#card img {grid-row: 1 / 2;
grid-column: 1 / 2;
width: 100%;
margin-top: 0;
}

#card div {grid-row: 2 / 3;
grid-column: 1 / 2;
width: 100%;
padding: 2%;
}

#card p {padding-right: 10%;
}

#card a {color: 1f1f1f;
font-family: 'Oswald', sans-serif;
}

#card a:hover {color: ff5757;}

#thumb {width: 100%;
height: auto;
}

#date {font-size: 0.7em;
font-weight: 500;
letter-spacing: 0.2px;
font-family: 'Oswald', sans-serif;
}

#line {margin: auto;
border-bottom-width: 20000px;
border-bottom: solid;
border-bottom-color: ff5757;
}

#wrap {margin: auto;
width: 90%;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
grid-column-gap: 0;
grid-row-gap: 1%;
}

#related {font-weight: 700;
font-size: 19px;
text-transform: uppercase;
}

#related a {
color: ff5757;
font-size: 18px;
}

#related a:hover {
color: 1f1f1f;
font-size: 18px;
}

#banner {width: 100%;
height: auto;
margin-bottom: 5%;
right: 20%;
background-color: 313131;
background-image: url("images/homebanner.jpg");
color: FFFFFF;
text-align: center;
padding-top: 15%;
padding-bottom: 10%;
}

#banner header {font-size: 3em;
margin-bottom: 1em;
}

#banner p {border-top: solid;
border-top-color: ff5757;
border-top-width: 10px;
padding-top: 30px;
margin-left: auto;
margin-right: auto;
width: 20em;
font-weight: bold;
}

.navbar {overflow: hidden;
background-color: 1f1f1f;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%;
padding-left: 23px;
}

.navbar a {float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 0.7em 0.8em;
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: 19px;
}

.navbartwit {position: fixed;
top: 6px;
width: 100%;
margin-left: 40%;
}

.navbartwit img {float: right;
padding-right: 45%;
padding-top: 1%;
}

@media only screen and (orientation: landscape) {

#card {margin: auto;
display: grid;
grid-template-columns: 40% 1fr;
grid-template-rows: auto;
grid-column-gap: 2%;
grid-row-gap: 1%;
border-bottom: solid;
border-bottom-color: ff5757;
border-bottom-width: 0.5em;
box-shadow: -5px 7px #888888;
background-color: FFFFFF;
width: 100%;
margin-bottom: 20px;
}

#card img {grid-column: 1 / 2;
grid-row: 1 / 2;
width: 100%;
margin-top: auto;
margin-bottom: auto;
}

#card div {grid-column: 2 / 3;
grid-row: 1 / 2;
width: 100%;
padding: 2%;
font-size: 1em;
}

#wrap {width: 65%;
}

#banner{padding-top: 5%;
padding-bottom: 3%;
}

.navbar img { height: 50px
}

.navbartwit img { height: 60px;
top: 6px;
padding-right: 11%;
padding-top: 0;
}

footer {width: 100%;
left: 0;
font-size: 12px;
}

nav {height: 4em}

.navbartwit {margin-left: 9%;}

}