@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

. {box-sizing: border-box;}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e0e0e0;
	color: #1f1f1f;
	margin: 0;
	font-size: 3vw;
}

a {
	color: #ff5757;
}

a:hover {
	color: #1f1f1f;
	text-decoration: none;
}

header {
	font-family: 'Oswald', sans-serif;
	background-color: #1f1f1f;
	background-image: url("images/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

header h1 {
	font-size: 10vw;
	text-align: center;
	border-bottom: solid;
	border-color: #ff5757;
	border-width: 1vw;
	width: 60vw;
	padding-bottom: 4vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

header h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	font-size: 3vw;
	letter-spacing: 0.2vw;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1f1f1f;
	overflow-x: hidden;
	padding-top: 15vw;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

nav a {
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	padding-top: 3vw;
	padding-bottom: 3vw;
	font-size: 4vw;
}

nav img {
	display: none;
}

nav a:hover {
	background-color: #1f1f1f;
	color: #FFFFFF;
}

nav .closebtn {
  position: absolute;
  top: 0;
  right: 5vw;
  font-size: 7vw;
}

.navbutton {
	display: flex;
	background-color: #1f1f1f;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 12vw;
	color: #FFFFFF;
	padding-left: 5vw;
}

.navbutton span {
	font-size: 8vw;
	cursor:pointer;
}

main {
	padding: 5vw;
	background-color: #FFFFFF;
}

main h2 {
	color: #ff5757;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.15vw;
	margin-top: 0;
}

.card {
	display: grid;
	grid-gap: 2vw;
	width: 100%;
	border-bottom: solid;
	border-width: 0.2vw;
	border-color: #d3d3d3;
	margin-top: 3vw;
	padding-bottom: 3vw;
}

.card img {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	margin: auto;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 3;
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.carddetails h3 a {
	color: #1f1f1f;
	text-decoration: none;
	font-size: 4vw;
}

.carddetails h3 a:hover {
	color: #ff5757;
}

.carddetails p {
	font-size: 2.5vw;
	margin-bottom: 0;
	margin-top: 1vw;
}

.carddetails a {
	font-size: 2vw;
}

.twitfeed {
	display: none;
}

footer {
	width: 100%;
	text-align: center;
	background-color: #1f1f1f;
	height: 13vw;
	color: #FFFFFF;
	padding-top: 4vw;
	font-size: 2.5vw;
}


@media only screen and (orientation: landscape) {

body {
	font-size: 15px;
}

header {
	font-family: 'Oswald', sans-serif;
	background-color: #1f1f1f;
	background-image: url("images/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

header h1 {
	font-size: 40px;
	text-align: center;
	border-bottom: solid;
	border-color: #ff5757;
	border-width: 5px;
	width: 360px;
	padding-bottom: 11px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

header h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	font-size: 1em;
	letter-spacing: 2px;
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #1f1f1f;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 50px;
	padding: 0;
	
	}

nav a {
	margin: 0;
	padding: 14px 50px 14px 50px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	font-size: 1em;
}

nav a:hover {
	background-color: #ff5757;
}

nav img {
	height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	display: block;
}

.closebtn {
	display: none;
}

.navbutton {
	display: none;
}

main {
	display: grid;
	grid-gap: 30px;
	width: 80%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 35px;
}

main h2 {
	letter-spacing: 1px;
}

.intro {
	grid-row: 1/2;
	grid-column: 1/3;
}

.articlefeed {
	grid-row: 2/3;
	grid-column: 1/2;
}

.twitfeed {
	display: block;
	grid-row: 2/3;
	grid-column: 2/3;
}

.latest {
	width: 100%
}

.card {
	display: grid;
	grid-gap: 15px;
	width: 100%;
	border-bottom: solid;
	border-width: 1px;
	border-color: #1f1f1f;
	margin-top: 20px;
	padding-bottom: 10px;
}

.card img {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	margin: auto;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 4;
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.carddetails h3 a {
	color: #1f1f1f;
	text-decoration: none;
	font-size: 1.5em;
}

.carddetails h3 a:hover {
	color: #ff5757;
}

.carddetails p {
	font-size: 0.9em;
	margin-bottom: 0;
	margin-top: 8px;
}

.carddetails a {
	font-size: 0.8em;
}

footer {
	height: 60px;
	padding-top: 10px;
	font-size: 12px;
}


}

@media (min-width: 1200px) {

main {
	width: 60%;
}

}