@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media (prefers-color-scheme: dark) {

	body {
		background-color: #000000;
		color: #e0e0e0;
	}

	main {
		background-color: #0a0a0a;
		box-shadow: 0 0 0 #1f1f1f;
	}

	.randomNews div:hover {
		background-color: #ff5757;
		color: #FFFFFF;
	}
	
	.randomNews div {
		background-color: #FFFFFF;
		color: #1f1f1f;
	}

	a {
		color: #ff5757;
	}
	
	a:hover {
		color: #FFFFFF;
		text-decoration: none;
	}

	main h2 {
		color: #ff5757;
	}
	
	.card {
	}

	.card:hover {
		background-color: #1f1f1f;
		box-shadow: 0 0 30px #1f1f1f;
	}

	.carddetails {
		color: #ffffff;
	}

	.carddetails h3 a {
		color: #e0e0e0;
	}
	
	.carddetails h3 a:hover {
		color: #ff5757;
	}

	.article .related h2 {
		color: #FFFFFF;
	}

	.info h2 {
		color: #ffffff;
	}

	.info .quote span {
		color: #ffffff;
	}

	footer {
		background-color: none;
	}

}

@media (prefers-color-scheme: light) {

	body {
		background-color: #eeeeee;
		color: #1f1f1f;
	}

	main {
		background-color: #FFFFFF;
	}

	.randomNews div:hover {
		background-color: #ff5757;
		color: #FFFFFF;
	}
	
	.randomNews div {
		background-color: #1f1f1f;
		color: #FFFFFF;
	}

	a {
		color: #ff5757;
	}
	
	a:hover {
		color: #1f1f1f;
		text-decoration: none;
	}

	main h2 {
		color: #ff5757;
	}

	.card {
		border-color: #d3d3d3;
		background-color: #ffffff;
		color: #ffffff;
	}

	.card:hover {
		background-color: #f3f3f3;
		box-shadow: 0 0 30px #c0c0c0;
	}
	
	.carddetails h3 a {
		color: #e0e0e0;
	}
	
	.carddetails h3 a:hover {
		color: #ff5757;
	}

	.article .related h2 {
		color: #1f1f1f;
	}

	.info h2 {
		color: #1f1f1f;
	}

	.info .quote span {
		color: #1f1f1f;
	}

	footer {
		background-color: #1f1f1f;
	}

}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 3vw;
}

::-moz-selection { /* Code for Firefox */
  background: #ff5757;
  color: #FFFFFF;
}

::selection {
  background: #ff5757;
  color: #FFFFFF;
}

.textCenter {
	text-align: center;
}

header {
	font-family: 'Oswald', sans-serif;
	background-color: #1f1f1f;
	background-image: url("images/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #FFFFFF;
	padding-top: 10vw;
	padding-bottom: 8vw;
}

header img {
	width: 40vw;
	height: auto;
	margin: 2vw auto 3vw auto;
	display: block;
}

header h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-top: 2vw;
	font-size: 3vw;
	letter-spacing: 0.2vw;
	width: 60vw;
	border-top: solid;
	border-color: #ff5757;
	border-width: 1vw;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1f1f1f;
	overflow-x: hidden;
	padding-top: 15vw;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

nav a {
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	padding-top: 3vw;
	padding-bottom: 3vw;
	font-size: 4vw;
}

nav img {
	display: none;
}

nav a:hover {
	background-color: #1f1f1f;
	color: #FFFFFF;
}

nav .closebtn {
  position: absolute;
  top: 5vw;
  right: 5vw;
  font-size: 7vw;
  padding: 0;
}

.navbutton {
	display: flex;
	background-color: #1f1f1f;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 12vw;
	color: #FFFFFF;
	padding: 2vw;
	padding-left: 6vw;
}

.navbutton span {
	font-size: 8vw;
	cursor:pointer;
}

main {
	padding: 5vw;
}

main h2 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.15vw;
	margin: auto;
}

.randomNews {
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
	width: 70%;
	height: 30px; 
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0;
}

.randomNews div:hover {}

.randomNews div {
	padding: 10px;
	border-radius: 4px;
	transition: 0.3s;
}

.card {
	display: grid;
	grid-template-columns: 33% auto;
	width: auto;
	overflow: hidden;
	height: 200px;
	background-color: #000000;
}

.card img {
	height: auto;
	width: 305%;
	grid-column-start: 1;
	grid-column-end: 2;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 3;
	overflow: hidden;
	padding-right: 20px;
	padding-top: 9px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: rgba(0, 0, 0, 0.9);
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	max-height: 51px;
	overflow: hidden;
}

.carddetails h3 a {
	text-decoration: none;
	font-size: 1.1em;
}

.carddetails p {
	font-size: 1em;
	margin-bottom: 0;
	margin-top: 10px;
	overflow: hidden;
}

.carddetails a {
	font-size: 0.7em;
}

footer {
	width: 100%;
	text-align: center;
	height: 18vw;
	color: #FFFFFF;
	padding-top: 4vw;
	font-size: 2.5vw;
	border-top: solid;
	border-color: #ff5757;
	border-width: 1.5vw;
	line-height: 5vw;
}

footer a {
	color: #FFFFFF;
	padding: 1vw;
}

footer a:hover {
	color: #ff5757;
}

.article {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.article h1 {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	margin-bottom: 3vw;
	text-transform: uppercase;
}

.article .related h2 {
	margin: 0;
	margin-bottom: 1vw;
}

.article .thumb {
	width: 100%;
	height: auto;
	margin-bottom: 3vw;
	overflow: hidden;
}

.article .thumb img{
	width: 100%;
}

.article .authdate {
	font-size: 2.5vw;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 3vw;
}

.article .content {
	margin-bottom: 3vw;
}

.article .related {
	display: flex;
	flex-direction: column;
	margin-bottom: 3vw;
}

.article .related a {
	margin-bottom: 1vw;
	font-size: 1.2em;
	font-weight: bold;
}

.article span {
	width: 100%;
	text-align: center;
	margin-top: 5vw;
	margin-bottom: 2vw;
}

.article span a {
	cursor: pointer;
	color: #FFFFFF;
	background-color: #1f1f1f;
	text-decoration: none;
	padding: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
	transition: 0.3s;
	border-radius: 0.7vw;
}

.article span a:hover {
	background-color: #ff5757;
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.info {
	display: block;
	text-align: center;
	min-height: 600px;
	padding-bottom: 10vw;
}

.info h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
}

.info h3 {
	border-bottom: solid;
	border-width: 0.5vw;
	border-color: #ff5757;
	margin: auto;
	width: 70%;
	padding-bottom: 1vw;
	margin-bottom: 1vw;
}

.info span {
	font-family: 'Oswald', sans-serif;
	font-size: 0.8em;
}

.info h2 {
	margin-top: 10vw;
}

.info .quote {
	color: #ff5757;
	margin-bottom: 10px;
}
.info .quote span {
	font-family: 'Oswald', sans-serif;
	font-size: 0.8em;
}


.info .container {
	display: grid;
	grid-template-rows: 13vw 13vw 13vw 13vw;
	margin-top: 5vw;
}

.info .infobutton {
	cursor: pointer;
	color: #FFFFFF;
	background-color: #1f1f1f;
	text-decoration: none;
	padding: 2vw;
	margin-left: auto;
	margin-right: auto;
	transition: 0.3s;
	border-radius: 0.7vw;
	width: 30vw;
	height: 5vw;
}

.info .infobutton:hover {
	background-color: #ff5757;
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.gen_form { display: grid;
width: 100%;
grid-gap: 1em;
grid-template-columns: 6em 1fr;
grid-template-rows: auto;
margin: auto;
height: auto;
}

.latest {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 30px;
	margin-top: 30px;
}

.articlestream .stream{
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 30px;
	margin-top: 30px;
}


@media only screen and (min-width: 600px) {

body {
	font-size: 15px;
}

header {
	font-family: 'Oswald', sans-serif;
	background-color: #1f1f1f;
	background-image: url("images/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 10px;
}

header img {
	width: 260px;
	margin: 0 auto 15px auto;
}

header h3 {
	border-width: 5px;
	width: 360px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	font-size: 1em;
	letter-spacing: 2px;
	padding-top: 10px;
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #1f1f1f;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 50px;
	padding: 0;
	
	}

nav a {
	margin: 0;
	padding: 14px 50px 14px 50px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	font-size: 1em;
}

nav a:hover {
	background-color: #ff5757;
}

nav img {
	height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	display: block;
}

.closebtn {
	display: none;
}

.navbutton {
	display: none;
}

main {
	display: grid;
	grid-gap: 25px;
	width: 900px;
	margin: auto;
	margin-top: 37px;
	padding: 35px;
}

main h2 {
	letter-spacing: 1px;
}

.intro {
	grid-row: 1/2;
	grid-column: 1/2;
}

.randomNews {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 500px;
	margin-top: 0;
	margin-bottom: 20px;
}

.articlefeed {
	grid-row: 3/4;
	grid-column: 1/2;
}

.latest {
	width: auto;
	margin-top: auto;
}

.articlestream .stream {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

.card {
	grid-template-columns: 50% auto;
	width: 100%;
	height: 250px;
	transition: 0.1s;
}

.card img {
	width: 200%;
	transition: 0;
}

.card:hover {
	grid-template-columns: 25% auto;
}

.card:hover img {
	width: 400%;
}

.card:hover .carddetails {
	background-color: rgba(0, 0, 0, 0.95);
}

.card h3 {
	font-size: 20px;
	max-height: 3em;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 3;
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}

.carddetails h3 a {
	font-size: 1em;
}

.carddetails p {
	font-size: 0.9em;
	margin-bottom: 0;
	margin-top: 8px;
}

.carddetails a {
	font-size: 0.8em;
}

footer {
	height: 90px;
	padding-top: 10px;
	font-size: 12px;
	border-width: 5px;
	line-height: 25px;
	width: 970px;
	margin: auto;
}

footer a {
	padding: 0;
}

.article {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 30% auto;
	grid-template-rows: auto 230px auto;
	width: 900px;
}

.article h1 {
	margin-bottom: 10px;
}

.article .related h2 {
	margin-bottom: 5px;
}

.article .thumb {
	margin-bottom: 5px;
	grid-column: 1/3;
	grid-row: 1/2;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.article .authdate {
	font-size: 1em;
	margin-bottom: 0;
}

.article .content {
	margin-bottom: 0;
	grid-column: 2/3;
	grid-row: 2/4;
}

.article .related {
	margin-bottom: 0;
	grid-column: 1/2;
	grid-row: 2/3;
}

.article .related a {
	margin-bottom: 7px;
	font-size: 1em;
}

.article span {
	margin: 0;
	padding: 0;
	grid-column: 1/2;
	grid-row: 3/4;
	display: grid;
	grid-template-rows: 52px 52px 52px auto;
}

.article span a {
	margin: auto;
	padding: 7px;
	border-radius: 4px;
	width: 70%;
}

.article span a:hover {
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.24), 0 14px 50px 0 rgba(0,0,0,0.19);
}

.info {
	padding-bottom: 50px;
	width: 500px;
}

.info h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
}

.info h2 {
	margin-top: 30px;
}

.info h3 {
	border-bottom: solid;
	border-width: 2px;
	border-color: #ff5757;
	margin: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 260px;
}

.info span {
	font-family: 'Oswald', sans-serif;
	font-size: 0.8em;
}

.info p {
	width: 400px;
	margin: auto;
}

.info .container {
	grid-template-rows: 70px 70px 70px 70px;
	margin-top: 30px;
}

.info .infobutton {
	padding: 20px 0 0 0;
	border-radius: 4px;
	width: 200px;
	height: 40px;
}

.info .infobutton:hover {
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.latest {
	display: grid;
	grid-template-columns: 50%  50%;
	grid-template-rows: auto;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.latest #first {
	grid-column: 1/3;
	grid-row: 1/2;
	width: 800px;
	margin: auto;
}

.latest #first h3 {
	font-size: 1.7em;
	max-height: 100px;
}

.latest #first .card{
	grid-template-columns: 25% auto;
}

.latest #first .card img {
	width: 400%;
}

.latest #first p {
	font-size: 15px;
}

.latest #first .carddetails {
	font-size: 15px;
}

.gen_form {
	width: 60%;
}


}

@media only screen and (min-width: 1100px) {

.articlestream .stream {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
	padding-right: 20px;
}

}

@media (min-width: 1450px) {

main {
	width: 1040px;
}

footer {
	width: 1110px;
	margin: auto;
}

.article {
	grid-gap: 25px;
	width: 1040px;
	grid-template-rows: 200px 230px auto;
}

.article h1 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.article .thumb {
	margin-bottom: 0;
	grid-column: 1/2;
	grid-row: 1/2;
	width: auto;
}

.article .authdate {
	font-size: 1em;
	margin-bottom: 0;
}

.article .content {
	margin-bottom: 0;
	grid-column: 2/3;
	grid-row: 1/4;
}

.article .related {
	margin-bottom: 0;
	grid-column: 1/2;
	grid-row: 2/3;
}

.article span {
	grid-column: 1/2;
	grid-row: 3/4;
}


}